
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Chiv Cook Book</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <!-- Site navigation menu -->
  <div>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li class="submenu">
        <a href="#" class="dropbtn"> Recipe Types</a>
        <div class="dropdown-content">
          <a href="#"><span>&raquo;</span> Appertizers & Snacks</a>
          <a href="#"><span>&raquo;</span> Breakfast & Brunch</a>
          <a href="#"><span>&raquo;</span> Desserts</a>
          <a href="#"><span>&raquo;</span> Dinner</a>
          <a href="#"><span>&raquo;</span> Drinks</a>
        </div>
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">Account</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
  <div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide"><h1 class="slide-number">1</h1></div>
    <div class="slide"><h1 class="slide-number">2</h1></div>
    <div class="slide"><h1 class="slide-number">3</h1></div>
    <div class="slide"><h1 class="slide-number">4</h1></div>
    <div class="slide"><h1 class="slide-number">5</h1></div>
    </div>
  </div>
    <!-- Main content -->
    <h1>Recent Recipes</h1>


</body>
</html>
