<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login Page</title>
  <link href = "styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <script src="login.js"></script>
</head>
<body>

<div class="wrapper">
  <h2>Log In/ Sign Up</h2>
  <div id="error"></div>

  <form id="loginform">
    <div class="input_field">
      <input type="text" id="Name" placeholder="Name" required>
    </div>
    <div class="input_field">
      <input type="text" id="usr" placeholder="Username" required>
    </div>
    <div class="input_field">
      <input type="password" id="pword" placeholder="Password" required>
    </div>
    <div class="input_field">
      <input type="text" id="Email" placeholder="Email" required>
    </div>
    <div class="button">
      <input type="Submit" id="Submit" placeholder="login/signup">
    </div>
  </form>
</body>
</html>
